.botoes{
    display: flex;
    text-align: left;
    max-width: 1520px; /*1320px; pra pc e 1500px; not*/
    margin: auto;
    
    
    
}

.botoes .btn {
    border-radius: 0.6rem;
    margin: 0.10rem; 
  }




  .logo img{
    width: 100%;
    height: 100%;
  }