.botoes{
    display: flex;
    max-width: 1320px; /*1320px; pra pc e 1500px; not*/
    margin: auto;
    
    
}

.botoes .btn {
    border-radius: 0.5rem;
    margin: 0.5rem; 
  }




  .logo img{
    width: 100%;
    height: 100%;
  }